# ðŸ’ Association RulesðŸ’

In [4]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt 
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
data=pd.read_excel('Online retail.xlsx',header=None)
print("Sahpe of data ",data.shape)
data.head()

Sahpe of data  (7501, 1)

                                                   0
0  shrimp,almonds,avocado,vegetables mix,green gr...
1                             burgers,meatballs,eggs
2                                            chutney
3                                     turkey,avocado
4  mineral water,milk,energy bar,whole wheat rice...

In [3]:
data.isnull().sum()

0    0
dtype: int64

## ðŸ’ Data pre-processing

In [24]:
l=list(data[0])
L=[list(l[x].split(',')) for x in range(len(l))]

In [28]:
TE=TransactionEncoder()
FD_array=TE.fit(L).transform(L)
FD=pd.DataFrame(FD_array,columns=TE.columns_)
print('Shape of FD ',FD.shape)
FD.head()

Shape of FD  (7501, 120)

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

## ðŸ’ Using Apriori algorithm

In [37]:
Bought_together=apriori(FD,min_support=0.009,use_colnames=True)
Bought_together

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.009199                            (blueberries)
..        ...                                      ...
302  0.017064  (ground beef, mineral water, spaghetti)
303  0.015731         (mineral water, milk, spaghetti)
304  0.010265    (mineral water, olive oil, spaghetti)
305  0.011465     (mineral water, pancakes, spaghetti)
306  0.009332     (mineral water, tomatoes, spaghetti)

[307 rows x 2 columns]

## ðŸ’ Mining association rules

In [39]:
rules = association_rules(Bought_together, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
461,"(ground beef, frozen vegetables)",(mineral water),0.016931,0.238368,0.009199,0.543307,2.279277,0.005163,1.667711,0.570931
439,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848,0.540342
479,"(ground beef, milk)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552,0.537969
397,"(chocolate, ground beef)",(mineral water),0.023064,0.238368,0.010932,0.473988,1.988472,0.005434,1.447937,0.508837
421,"(chocolate, pancakes)",(mineral water),0.019864,0.238368,0.009332,0.469799,1.970895,0.004597,1.436495,0.502600
...,...,...,...,...,...,...,...,...,...,...
517,(mineral water),"(tomatoes, spaghetti)",0.238368,0.020931,0.009332,0.039150,1.870467,0.004343,1.018962,0.611022
464,(mineral water),"(ground beef, frozen vegetables)",0.238368,0.016931,0.009199,0.038591,2.279277,0.005163,1.022529,0.736923
266,(mineral water),(ham),0.238368,0.026530,0.009199,0.038591,1.454614,0.002875,1.012545,0.410346
280,(mineral water),(hot dogs),0.238368,0.032396,0.009199,0.038591,1.191227,0.001477,1.006444,0.210770
435,(mineral water),"(frozen vegetables, eggs)",0.238368,0.021730,0.009065,0.038031,1.750141,0.003886,1.016945,0.562762

## ðŸ’ Interview Questions:
#### 1.What is lift and why is it important in Association rules?
    The Lift metric is often used to measure the strength of association between two items. Lift is simply the ratio of the observed frequency of two items being bought together to the expected frequency of them being bought together if they were independent. In other words, Lift measures how much more likely two items will be bought together than would be expected if they were unrelated. A high Lift value indicates a strong association between two items, while a low Lift value indicates a weak association. The Apriori algorithm is designed to find itemsets with a high Lift value
    
#### 2.What is support and Confidence. How do you calculate them?
    The Support of an item is defined as the percentage of transactions in which an item appears.
    Item support can be calculated by finding the number of transactions containing a particular item divided by the total number of transactions
    â–¶ Support(X) = (Number of transactions containing X) / (Total number of transactions)
    
    Confidence is a statistical measure used in association rule learning that quantifies the likelihood that an association rule is correct. In other words, confidence measures the reliability of an association rule. The confidence of a rule is calculated as the ratio of the number of times the rule is found to be true to the total number of times it is checked.
    â–¶ Confidence(X -> Y) = Support(X âˆª Y) / Support(X)


#### 3.What are some limitations or challenges of Association rules mining?
    As datasets grow, the computational cost of finding frequent itemsets increases significantly, making it hard to apply on very large datasets.
    More variation in items increase dimensionality,complicating the mining process and leading to longer processing times.
    Rules may overlap or be similar making it difficult to choose most informative rule.
    The rules generated can be complex and difficult for non-experts to understand, limiting their practical use.
    Static association rules donâ€™t account for changes over time, which can lead to outdated or misleading insights.